.item__licence {
    font-size: var(--font-small);
    font-weight: 500;
}

.item__name {
    font-weight: 500;
}

.item__description {
    font-family: var(--base-font);
    font-size: var(--font-medium);
    font-weight: 400;
}

.item__price {
    font-size: var(--font-display);
}

.item__promo {
    font-size: var(--font-xsmall);
    font-family: var(--base-font) ;
    font-weight:700;
    color: var(--secondary-solid);
}

.item__promo a {
    text-decoration: underline;
}
.item__cart{
    display: flex;
    gap: 30px;
    justify-content: space-between;
}

/* contenedor cantidad y btn add */
.item__cart_cant{
    display: flex;
    gap: 10px;
}
   /* cantidad             */
.item__input {
    Width:105.47px;
    text-align: center;
    font-size: var(--font-medium);
}

/* contenedor btns agregar */
.add_sub_btn{
    height: 50px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    text-align: center;
}

/* btns agregar */
.item__quantity{
    width: 25px;
    height: 22px;
    border: none;
    background-color: #4f4f4f;
    color: var(--light-font-solid);

}
/* btn rojo */
.item__submit {
    height: 50px;
    background-color: var(--primary-solid);
    color: var(--light-font-solid);
    font-size: var(--font-medium);
    font-family: var(--base-font);
    font-weight: 400;
    border: none;
    padding: 5px 30px;
}